<template>
  <q-page class="flex flex-center">
    <form @submit.prevent='LlamarPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Selectiona una opción'
        :options="entitySelectOptions"
        color='yellow'
      />
      <q-input v-model="query" color='yellow' />
      <q-btn label='Buscar' color='blue-3' @click='LlamarPersonajes ()'/>
      <div v-if='items.length > 0'>
        <q-card color='yellow-5' v-for='(item,index) in items' :key='index'>
          <q-card-title>
            {{ item.name }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main>
            <p style="color: black">Color de ojos:</p>
            <p>{{item.hair_color}}</p>
            <p style="color: black">Genero:</p>
            <p>{{item.gender}}</p>
            <p style="color: black">Altura:</p>
            <p>{{item.height}} cm</p>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
body{
  background-image: url('https://assets1.ignimgs.com/2019/02/26/starwarsmovies-blogroll-1551142053134_1280w.jpg');
}
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'people',
      entitySelectOptions: [
        {
          label: 'Personajes',
          value: 'people'
        },
        {
          label: 'Planetas',
          value: 'planets'
        },
        {
          label: 'Especies',
          value: 'species'
        },
        {
          label: 'Naves',
          value: 'starships'
        },
        {
          label: 'Vehículos',
          value: 'vehicles'
        }
      ]
    }
  },
  methods: {
    LlamarPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://swapi.co/api/' + entity + '/?search=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch(() => {
          console.log('Inside error, fetching product line items failed')
        })
    }
  }
}
</script>
